@use "sass:math";

.helsinki-tpr.tpr-unit {
  background-color: rgb(247, 247, 248);
  padding: spacing('s');

  @extend %helsinki-block-spacing;

	@include breakpoint('m') {
		margin-bottom: spacing('4-xl');
    padding: spacing('m');
	}

  @include breakpoint('l') {
    padding: spacing('l');
  }

  .hds-container {
    padding: 0;
  }

  .unit__title {
    margin-top: 0;
  }

  .tpr__container {

    &:not(:first-child) {
      @extend %helsinki-block-content-spacing;
    }

    margin-bottom: 24px;

    @include breakpointMax('m') {
      margin-bottom: 0;
    }

    p {
      margin-bottom: spacing('s');
    }

    .tpr__container__column {
      margin-bottom: 24px;

      @include breakpointMax('m') {
        margin-bottom: 0;
      }

      &.tpr__secondary_column {
        @include breakpointMax('m') {
          display: none;
        }
      }
    }

    @include breakpoint('m') {
      display: flex;
      column-gap: 24px;
      flex-wrap: wrap;
      justify-content: left;

      .tpr__container__column {
        flex: 1 0 calc(50% - 14px);
      }
    }

    .unit__section_title {
      display: flex;
      font-weight: bold;
      margin-bottom: spacing('2-xs');

      .icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }

      div {
        line-height: 28px;
      }
    }

    .unit__section_data {
      margin-left: 32px;
      padding-bottom: spacing('s');

      @include breakpointMax('m') {
        padding-bottom: 0;
      }
    }

    .unit__image {
      margin-bottom: spacing('l');
    }

    .unit__image, .unit__additional_info {
      &.show-on-mobile {
        @include breakpoint('m') {
          display: none;
        }
      }
    }

    .unit__website {
      a {
        overflow-wrap: anywhere;
      }
    }

    .unit__link {
      display: flex;
      font-weight: $global-font-weight-medium;
    }
  } // .tpr__container
} // .helsinki-tpr.tpr-unit
