@use "sass:math";

.helsinki-tpr.tpr-unit {
  --icon-size: 24px;

  background-color: rgb(247, 247, 248);
  padding: spacing('s');

  @extend %helsinki-block-spacing;

	@include breakpoint('m') {
		margin-bottom: spacing('4-xl');
    padding: spacing('m');
	}

  @include breakpoint('l') {
    padding: spacing('l');
  }

  a {
    .icon {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }

  .hds-container {
    --columns-gap: #{spacing('s')};

    display: grid;
    grid-template-columns: 1fr;
    gap: var(--columns-gap);
    padding: 0;

    @include breakpoint('m') {
      --columns-gap: #{spacing('l')};

      grid-template-columns: calc( 65% - var(--columns-gap) ) 1fr;
    }
  }

  .unit__title {
    margin-top: 0;
  }

  .unit__image {
    --order: 1;

    order: var(--order);

    @include breakpoint('m') {
      --order: 2;
    }
  }

  .tpr__container {
    --order: 2;

    display: grid;
    grid-template-columns: 1fr;
    gap: spacing('s');
    order: var(--order);

    @include breakpoint('m') {
      --order: 1;
    }

    p {
      margin-bottom: spacing('s');
    }

    .unit__section_title {
      display: flex;
      font-weight: bold;
      margin-bottom: spacing('2-xs');

      .icon {
        width: var(--icon-size);
        height: var(--icon-size);
        margin-right: 8px;
      }

      div {
        line-height: 28px;
      }
    }

    .unit__section_data {
      margin-left: 32px;
      padding-bottom: spacing('s');

      @include breakpointMax('m') {
        padding-bottom: 0;
      }
    }

    .unit__website {
      a {
        overflow-wrap: anywhere;
      }
    }

    .unit__link {
      display: flex;
      font-weight: $global-font-weight-medium;
    }
  } // .tpr__container
} // .helsinki-tpr.tpr-unit
