@import '../../functions';
@import '../../mixins';
@import '../../settings';

@import '../../common/scss/blocks/unit';

body.wp-admin .editor-styles-wrapper {
    .wp-block-helsinki-tpr-unit .hds-container {
        margin-left: auto;
        margin-right: auto;
    }
}

#helsinki-tpr-unit {
    .post-tpr-data {
        display: none;

        &.active {
            display: block;
        }

        .tpr-img {
            img {
                max-width: 100%;
                object-fit: cover;

                @include breakpoint('xl') {
                    max-width: 600px;
                }
            }
        }
    }
}